<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Testing WebSocket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="sockjs-0.3.4.js"></script>
    <script src="stomp.js"></script>
    <script th:inline="javascript">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var socket = new SockJS(/*[[@{/user}]]*/);
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                //console.log("connected, session id: " + socket._transport.);
                var subscribeUrl = '/topic/auth';
                stompClient.subscribe( subscribeUrl + '-user' + socket.sessionId, function(response){
                    showMessage(response.body);
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function send() {
            var message = document.getElementById('message').value;
            stompClient.send("/app/user", {}, message);
        }

        function showMessage(message) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message));
            response.appendChild(p);
        }
    </script>
</head>
<body onload="disconnect()">

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>What do you want to send?</label><br/><textarea rows="10" cols="45" id="message" ></textarea><br/>
        <button id="send" onclick="send();">Send</button>
        <p id="response"></p>
    </div>
</div>
</body>
</html>